<html>
    <head><title>{{title}}</title></head>
    <body>
        <form action="http://localhost:5000/usuarios/new" method="post">
            <input type="text" name="cedula" placeholder="cedula"/>
            <input type="text" name="password" placeholder="password"/>
            <input type="text" name="nombre" placeholder="nombre"/>
            <input type="text" name="apellido" placeholder="apellido"/>
            <button type="submit" name="enviar">enviar</button>
        </form>
    </body>
</html>