<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon"   href="static/images/favicon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/media-queries.css">
	<title>SD Diagnóstico Visual | Remisor</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<header>
		<div class="nav-principal">
			<div class="nav-principal_contenedor">
				<a href="/logout">Cerrar sesión</a>
			</div>
		</div>
		<div class="nav-banner">
			<div class="nav-grid-banner_logo">
				<img src="static/images/logo-SD.png" alt="Logo">
				<div class="nav-titulos">
						<h1>Pacientes</h1>
						<div class="info-usuario">
							<p class="nombre-usuario">Remisor Lector</p>
							<p class="doumento-usuario">lista de pacientes</p>
						</div>
				</div>	
			</div>
		</div>
	</header>
	<main class="main-contenedor-info">
		<section class="grid-contenedor-info">
			<div class="buscador">
				<input class="input-campo_busqueda" type="text" name="user">
				<div class="buscador-button">
					<a href="#"><i class="iconoBuscar fas fa-search"></i></a>
				</div>
			</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="buscador-alert">
				<div>
					<a href="#"><i class="iconoAlerta fas fa-times-circle"></i></a>
				</div>
				<p>No se encontraron datos relacionados. Por favor inténtelo de nuevo.</p>

			</div>
		{% endif %}
		{% endwith %}
			<div class="lista-pacientes-busqueda">
				<div class="lista-pacientes-titulo">
					<div>DOCUMENTO</div>
					<div>NOMBRES Y APELLIDOS PACIENTE</div>
					<div>EDITAR</div>
				</div>
				{% for paciente in pacientes %}
				<div class="lista-pacientes-contenido">
					<div>{{paciente['cedula']}}</div>
					<div><a href="#">{{paciente['nombre']}} {{paciente['apellido']}}</a></div>
				</div>
				{% endfor %}
				
				

				<div class="main-paginacion-examenes">
					Paginacion
				</div>
			</div>

			<div class="cntenedor-info-paciente-resultado">
				


			<div class="contenedor-boton-editar-lecturas">
				<p>EXÁMENES:</p>
				
			</div>	


			<div class="grid-main-contenendor-examenes">

				<div class="contenedor-examenes-titulo">
					<div>FECHA</div>
					<div>NOMBRE</div>
					<div>RESU</div>
					<div>LECT</div>
				</div>
				<div class="contenedor-examenes-resultados">
					<div>Marzo 26 de 2022</div>
					<div>Examen general óptico cornea ojo izquierdo</div>
					<div>
						<a href="#"><i class="iconoDescarga fas fa-download"></i></a>
					</div>
					<div>
						<a href="#"><i class="iconoDescarga-lectura fas fa-download"></i></a>
					</div>
				</div>
				<div class="contenedor-examenes-resultados">
					<div>Marzo 26 de 2022</div>
					<div>Examen general óptico</div>
					<div>
						<a href="#"><i class="iconoDescarga fas fa-download"></i></a>
					</div>
				</div>
				<div class="contenedor-examenes-resultados">
					<div>Marzo 26 de 2022</div>
					<div>Examen general óptico cornea ojo derecho</div>
					<div>
						<a href="#"><i class="iconoDescarga fas fa-download"></i></a>
					</div>
				</div>
				

				<div class="main-paginacion-examenes">
				Paginacion
				</div>

			</div>
		</section>

		
	</main>

	<footer>
		<div class="info-contacto">
			<p>Si tienes algún inconveniente con los resultados puedes escribirnos a <span>examenes@sdiagnosticovisual.com</span> o
 			llamarnos al <span>320 2579898</span></p>

		</div>
		<img class="btn-whatsapp" src="https://clientes.dongee.com/whatsapp.png" width="64" height="64" alt="Whatsapp" onclick="window.location.href='https://wa.me/573224509872?text=Hola!%20Tengo%20una%20inquietud%20con%20mis%20resultados'">
	</footer>


</body>
</html>