<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon"   href="static/images/favicon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/media-queries.css">
	<title>SD Diagnóstico Visual | Editar-lecturas</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<header>
			<div class="nav-principal">
				<div class="nav-principal_contenedor">
					<a href="/logout">Cerrar sesión</a>
				</div>
			</div>
			<div class="nav-banner">
				<div class="nav-grid-banner_logo">
					<div class="grid-logo-boton">
						<img src="static/images/logo-SD.png" alt="Logo">
					<div class="regresar-button">
						<div class="agregar-button">
						<a href="/medico-lector"><i class="icono-agregar fas fa-arrow-left"></i></a>
						</div>
						<a href="/medico-lector"><p class="regresar">Regresar</p></a>
					</div>
					</div>
					
					<div class="nav-titulos cuadre-titulos">
						<h1 class="titulo-editarpaciente">Exámenes del paciente / Editar lecturas de: </h1>
						<div class="info-usuario">
							{% for paciente in pacientes %}
							<p class="nombre-usuario">{{ paciente['nombre'] }}</p>
							<p class="doumento-usuario">{{ paciente['cedula'] }}</p>
							{% endfor %}
						</div>
					</div>	

				</div>
			</div>
		</header>

		<main class="main-contenedor-examenes-lecturas">
		
			<section class="grid-contenedor-lecturas"> 


				<div class="grid-main-contenendor-examenes">

					<div class="veditarlectura">
						<div>FECHA TOMA DEL EXAMEN</div>
						<div>NOMBRE DEL EXAMEN</div>
						<div>RESULTADO</div>
						<div>LECTURA</div>
					</div>
					<div class="contenedor-examenes-resultados-campo-eliminar-lectura">
						<div>{{ archivo.Fecha_examen }}</div>
						<div>{{ archivo.nombreExamen }}</div>
						<div>
							<a href="{{ archivo.examen }}" target="_blank"><i class="iconoDescarga fas fa-download"></i></a>
						</div>
						
						<div>
							{% if archivo.lectura != "" %}
							<a href="#"><i class="iconoCargar-lectura fas fa-download"></i></a>
							{% endif %}
						</div>
						
						<div>
							<a href="#"><i class="iconoEliminar fas fa-trash-alt"></i></a>
						</div>
					</div>

				</div>
				<form action="/addlectura" method="post" enctype="multipart/form-data" name="fileinfo">
				<div class="grid-contenedor-add-lectura">
					<p>Se cargará la lectura para el examen:</p>
					<div><h3>{{ archivo.nombreExamen }}</h3></div>
					<hr>
					<div class="agregar-examenes">
						
						<div class="custom-input-file">
							<h2>Cargar lectura</h2>
							<input type="file" id="lectura" name="lectura">
						</div>
					</div>
					<div class="add-paciente-button add-btn-lectura">
						<button class="boton-sumit" type="submit">ACTUALIZAR LECTURA</button>
					</div>
				</div>
				</form>

		
			</section>

		</main>

		<footer>
		<div class="info-contacto">
			<p>Si tienes algún inconveniente con los resultados puedes escribirnos a <span>examenes@sdiagnosticovisual.com</span> o
 			llamarnos al <span>320 2579898</span></p>

		</div>
		<img class="btn-whatsapp" src="https://clientes.dongee.com/whatsapp.png" width="64" height="64" alt="Whatsapp" onclick="window.location.href='https://wa.me/573224509872?text=Hola!%20Tengo%20una%20inquietud%20con%20mis%20resultados'">
	</footer>


</body>



</html>